<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="/img/favicon.png" rel="icon" type="image/x-icon" />
    <!-- Favicon by: https://www.flaticon.com/authors/becris -->
    <title>Recipes Arround the World</title>
</head>
<body>
    <nav>
      <ul>
        <li>
          <a href="/">Recipes</a>
        </li>
        <li>
          <a href="/form">New Recipe</a>
        </li>
        <li>
          <a href="/details">Edit/Remove Recipe</a>
        </li>
      </ul>
    </nav>
    <section class="closed" id="container">
      <section class="card-container">
        <section class="card u-clearfix">
          <section class="card-body">
            <h2 class="card-title">New Brunch Recipe</h2>
            <img id="imagem" src="https://s15.postimg.cc/temvv7u4r/recipe.jpg" alt="" class="card-media"/>
            
            <!-- <span class="card-description subtle">These last few weeks I have been working hard on a new brunch recipe for you all.</span>
            <section id="toggle">
              <section class="header"></section>
              <section class="card-read title" id="expandable">Recipe Details </section>
                <article style="overflow: auto; height: 400px"> -->
                  <a href="#nav"><span>Saiba a origem!</span></a>
  <div class="expandable" id="nav" >
    <p >Qual a origem do estrogonofe?
      O estrogonofe (ou strogonoff) é um prato russo que se espalhou pelo mundo e caiu no gosto do brasileiro. Embora existam diversas teorias sobre sua origem, assim como mencionamos, a mais reconhecida é a de ser uma criação de um chef 
      francês que trabalhava para a família russa Stroganov (ou Strogonov).
      
      As famílias russas mais ricas e poderosas em geral apreciavam a cultura francesa, mandavam seus filhos e filhas para escolas francesas, tinham funcionários franceses, além,
       é claro, de renomados chefs franceses.
      A teoria conta que o estrogonofe surgiu devido aos problemas dentários que o Conde Grigory Stroganov tinha nos anos 1700. 
      Portanto, o chef francês do palácio da família decidiu adaptar uma clássica receita francesa, o fricassé de boeuf  (fricassé de carne), cortando a carne em pequenas tiras e a misturando com creme de leite para facilitar
       a ingestão da comida.
      Na época, levava apenas carne passada levemente na farinha, mostarda dijon, caldo de carne e um pouco de sour cream (creme azedo). O arroz e os cogumelos vieram depois, com a chegada do prato na China.
       A batata palha, por sua vez, é um extra dos brasileiros. Na Rússia, é servido com purê de batata.</p>
  </div>
  <a href="#nav2"><span>Veja a receita!</span></a>
  <div class="expandable" id="nav2">
    <p>INGREDIENTES
      400g de carne (filé mignon, chã de dentro ou alcatra)
      Pimenta
      Cominho
      Sal
      1/2 cebola ralada
      1 caixa e meia de creme de leite
      3 colheres (sopa) de catchup
      3 colheres (sopa) de extrato de tomate
      1 colher (sopa) de mostarda
      Óleo para fritar
      
      MODO DE PREPARO
      CARNE:
      Corte a carne selecionada em tirinhas, tempere com a pimenta, cominho e sal.
      Deixe descansar a carne por 20 minutos para apurar o gosto.
      Coloque óleo suficiente para fritar poucas quantidades de tirinhas (7 ou 8), esquente bem o óleo.
      Comece a fritura com poucas tirinhas para que o óleo não vire uma sopa, retire as tiras e reserve.
      Não deixe fritar muito para que a carne não fique dura.
      MOLHO:
      Troque o óleo da panela e refogue a cebola ralada.
      Depois de dourada, jogue todas as tirinhas de carne dentro da panela e mexa.
      Frite por 3 minutos e jogue na panela o creme de leite, catchup, extrato de tomate e mostarda.
      Deixe ferver um pouco, sempre misturando.
      Sirva com arroz branco e batata palha.</p>
  </div>
                </article>
              </section>
            </section>
        
        </section>
      <section class="card-shadow"></section>
      </section>
    </section>
















  <script src="/js/script.js"></script>

  <footer>
    <svg viewBox="0 0 120 28">
     <defs> 
       <mask id="xxx">
         <circle cx="7" cy="12" r="40" fill="#fff" />
       </mask>
       
       <filter id="goo">
          <feGaussianBlur in="SourceGraphic" stdDeviation="2" result="blur" />
          <feColorMatrix in="blur" mode="matrix" values="
               1 0 0 0 0  
               0 1 0 0 0  
               0 0 1 0 0  
               0 0 0 13 -9" result="goo" />
          <feBlend in="SourceGraphic" in2="goo" />
        </filter>
         <path id="wave" d="M 0,10 C 30,10 30,15 60,15 90,15 90,10 120,10 150,10 150,15 180,15 210,15 210,10 240,10 v 28 h -240 z" />
      </defs> 
    
       <use id="wave3" class="wave" xlink:href="#wave" x="0" y="-2" ></use> 
       <use id="wave2" class="wave" xlink:href="#wave" x="0" y="0" ></use>
     
      
    
        
        
      </g>
      <g class="gooeff">
      <circle class="drop drop1" cx="20" cy="2" r="1.8"  />
      <circle class="drop drop2" cx="25" cy="2.5" r="1.5"  />
      <circle class="drop drop3" cx="16" cy="2.8" r="1.2"  />
        <use id="wave1" class="wave" xlink:href="#wave" x="0" y="1" />
      
        <!-- g mask="url(#xxx)">
        <path   id="wave1"  class="wave" d="M 0,10 C 30,10 30,15 60,15 90,15 90,10 120,10 150,10 150,15 180,15 210,15 210,10 240,10 v 28 h -240 z" />
        </g>
      </g -->
    
    </svg>
    
      <div>Produzido por Chanely e Bernardo @ Blue Edtech. Todos os direitos reservados! ©</div>
    </footer>
  
</body>
</html>