nav {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  z-index: 10;
  font-family: 'Lato', sans-serif;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

nav ul li {
  padding: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.5s;
}

nav ul li a:hover {
  color: #aaa;
}

/* Styling HTML */

body {
  background: #FAF7F2;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Card Background */

.u-clearfix:before,
.u-clearfix:after {
  content: " ";
  display: table;
}

.u-clearfix:after {
  clear: both;
}

.u-clearfix {
  *zoom: 1;
}

.subtle {
  color: #aaa;
}

/* Styling Card Container */

.card-container {
  margin: 50px auto 50px;
  position: relative;
  width: 692px;
}

/* Styling Card */

.card {
  background-color: #fff;
  padding: 30px;
  position: relative;
  box-shadow: 0 0 5px rgba(75, 75, 75, .07);
  z-index: 1;
}

.card-body {
  display: inline-block;
  /* float: left; */
  width: 310px;
}

.card-number {
  margin-top: 15px;
}

.card-title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  height: 25px;
  text-align: center;
  margin: 10px 0; 
}

.card-description {
  font-family: 'Cormorant Garamond', serif;
  display: inline-block;
  font-weight: 300;
  line-height: 22px;
  margin: 10px 0;
}

.card-media {
  justify-content: center;
  
  
}

.card-shadow {
  background-color: #fff;
  box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1), 0 0 100px 3px rgba(0, 0, 0, .25);
  height: 1px;
  margin: -1px auto 0;
  width: 80%;
  z-index: -1;
}

/* Card Toggle */

#toggle { 
  cursor: pointer; 
  position: absolute;
width: 50%;
bottom: 1px;
border: 3px solid #8AC007;
} 
     
#toggle.card-read:before {
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 6px;
  margin: 5px 0 20px;
  position: relative;
  text-align: right;
  text-transform: uppercase;
}      
    
#toggle.card-read:after {
  cursor: pointer;
  background-color: #b8bddd;
  display: block;
  height: 1px;
  position: absolute;
  bottom: 9px;
  width: 75%;
}

article {
  padding: 25px 30px;
  overflow: hidden;
  max-height: 400px;
} 
     
#container.closed article {
  max-height: 0px;
  padding: 0 30px;
}

.expandable {
  background: #fff;
  overflow: hidden;

  transition: all .5s ease-in-out;
  line-height: 0;
  padding: 0 1em;
  color: transparent;
  align-items: center;
}
 
.expandable:target {
  line-height: 1.5;
  padding-top: 1em;
  padding-bottom: 1em;
  color: black;
  align-items: center;
}

  /* FOOTER A PARTIR DAQUI */
     footer {
      width:100vw;
      position:fixed;
      bottom:0;
    }
    footer div {
      background-color:#212122;
      margin: -5px 0px 0px 0px;
      padding:0px;
      color: rgb(144, 142, 142);
      text-align:center;
    }
    svg {
      width:100%;
    }
    
    
    .wave {
      animation: wave 3s linear;
      animation-iteration-count:infinite;
      fill: #bbbbbb;
    }
    .drop {
      fill: transparent;
      animation: drop 5s ease infinite normal;
      stroke: #b2b5b9;
      stroke-width:0.5;
      opacity:.6; 
      transform: translateY(50%);
    }
    .drop1 {
      transform-origin: 20px 3px;
    }
    .drop2 {
      animation-delay: 3s;
      animation-duration:3s;
      transform-origin: 25px 3px;
    }
    .drop3 {
      animation-delay: -2s;
      animation-duration:3.4s;
      transform-origin: 16px 3px;
    }
    .gooeff {
        filter: url(#goo);
    }
    #wave2 {
      animation-duration:5s;
      animation-direction: reverse;
      opacity: .6
    }
    #wave3 {
      animation-duration: 7s;
      opacity:.3;
    }
    @keyframes drop {
      0% {
        transform: translateY(80%); 
        opacity:.6; 
      }
      80% {
        transform: translateY(80%); 
        opacity:.6; 
      }
      90% { 
        transform: translateY(10%) ; 
        opacity:.6; 
      }
      100% { 
        transform: translateY(0%) scale(1.5);  
        stroke-width:0.2;
        opacity:0; 
      }
    }
    @keyframes wave {
      to {transform: translateX(-100%);}
    }
    
    